<div class="container-fluid" style="background-color: gainsboro;">
    <div class="d-flex bd-highlight ">
        <div class="d-flex">
            <a class="nav-link me-2" href="/product" style="margin-left: 5px; display: flex; align-items: center;">
                <img src="https://media.istockphoto.com/id/1269785368/vi/vec-to/logo-x%C3%A2y-d%E1%BB%B1ng-%C4%91%C6%B0%E1%BB%9Dng-b%E1%BB%99-kh%C3%A1i-ni%E1%BB%87m-bi%E1%BB%83n-hi%E1%BB%87u-s%C3%A1ng-t%E1%BA%A1o-b%E1%BA%A3o-tr%C3%AC-%C4%91%C6%B0%E1%BB%9Dng-b%E1%BB%99-m%E1%BA%ABu-thi%E1%BA%BFt-k%E1%BA%BF-l%C3%A1t-khu%C3%B4n.jpg?s=612x612&w=0&k=20&c=mJQsHpg8e2KvhX6v0QSCK_3HDiB6vgcH44lzm9nMLMQ=" style="width: 35px; height: 35px;">
                <p style="margin-left: 5px;margin-top: 8px ;display: inline-block;" class="me-2">Trang
                    Chủ</p>
            </a>

        </div>
        <div class="ms-auto bd-highlight">
            <nav class="navbar navbar-expand-sm ">
                <div class="container-fluid">
                    <ul class="navbar-nav">
                        <form class="d-flex mt-3 mb-3">
                            <div class="input-group mx-5">
                                <input type="text" class="form-control" placeholder="Search">
                                <button class="btn btn-warning" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                        <li class="nav-item dropdown mt-3 mb-3">
                            <a class="nav-link d-flex align-items-center" href="#" data-bs-toggle="dropdown">
                                <img src="https://cdn-icons-png.flaticon.com/512/660/660376.png" alt="" style="width: 30px; height: 30px;">
                            </a>
                            <ul class="dropdown-menu text-center dropdown-menu-sm-end">
                                <p class="fw-bold">MENU</p>
                                <li><a class="dropdown-item" href="/edit/{{userId}}"><i class="fas fa-user me-2"></i>Thông
                                        tin</a>
                                </li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-edit me-2"></i>Chỉnh
                                        sửa</a>
                                </li>
                                <li><a class="dropdown-item" href="/login"><i class="fas fa-sign-out-alt me-2"></i>Đăng
                                        xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>